.photo1 {
    grid-area: photo1;
}
.photo2 {
    grid-area: photo2;
}
.photo3 {
    grid-area: photo3;
}
.photo4 {
    grid-area: photo4;
}
.photo5 {
    grid-area: photo5;
}
.photo6 {
    grid-area: photo6;
}
.photo7 {
    grid-area: photo7;
}
.photo8 {
    grid-area: photo8;
}
.photo9 {
    grid-area: photo9;
}
.photo10 {
    grid-area: photo10;
}
.container {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr auto;
    grid-template-rows: 1fr 1fr 1fr auto;
    grid-template-areas:
    "photo1 photo1 photo3 photo6 photo9"
    "photo2 photo2 photo4 photo7 photo9"
    "photo2 photo2 photo5 photo8 photo10";
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container div {
    
}
